@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $very-light-gray;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: $very-dark-blue;
  line-height: 1.6;
}

main {
  width: 80%;
  height: 100vh;
  margin: auto;
}

p {
  color: $grayish-blue;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem 0;

  :nth-child(1) {
    font-weight: 200;
  }

  p {
    max-width: 500px;
    margin-top: 1.5rem;
  }
}

.cards {
  .card:nth-child(1) {
    border-top: 0.3rem solid $cyan;
    border-radius: 0.5rem;
  }

  .card:nth-child(2) {
    border-top: 0.3rem solid $red;
    border-radius: 0.5rem;
  }

  .card:nth-child(3) {
    border-top: 0.3rem solid $orange;
    border-radius: 0.5rem;
  }

  .card:nth-child(4) {
    border-top: 0.3rem solid $blue;
    border-radius: 0.5rem;
  }

  .card {
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 0px 3px 15px 0px rgba(99, 58, 58, 0.25);

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.9em;
    }

    .icon {
      display: flex;
      justify-content: flex-end;
      margin-top: 2.5rem;
    }
  }
}

.credits {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  font-size: 0.7em;
  margin: 10rem 0rem 1rem 0rem;

  a {
    color: $red;
    text-decoration: none;
    margin-left: 3px;
    cursor: pointer;

    &:hover {
      color: lighten($red, 15);
    }
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2rem;

    .card:nth-child(1) {
      grid-row: 2 / 4;
    }

    .card:nth-child(2) {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
    }

    .card:nth-child(3) {
      grid-row: 3 / 5;
      grid-column: 2 / 3;
    }

    .card:nth-child(4) {
      grid-row: 2 / 4;
      grid-column: 3 / 4;
    }
  }
}
